GATEWAY_PORT=8090
BACKEND_URL=http://backend:8080
FRONTEND_URL=http://localhost:3000
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEw1SV3/9qLTugs2eF1dw963KpTNtk
tbdCtuciyI3OJ01MclvPTFE/Thqti3TegWLdaxidmpPQ5pemawUXIqu6Yg==
-----END PUBLIC KEY-----"
JWT_SECRET=modelcraft_dev_secret_please_change_in_production
INTERNAL_TOKEN=test-internal-token-for-bdd
LOG_OUTPUT_PATH=/app/log/server.log
TZ=Asia/Shanghai
